<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            font-family:  Arial, sans-serif,sans-serif;
            background-color:white;
            color:black;
            margin: 100px;
            padding:50px;
            background-image: url("https://i.pinimg.com/236x/30/92/54/309254c0ccca39aa127e28339af46e28.jpg");
            background-size: cover;
        }
        .container{
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;

        }
        

        
    </style>
</head><center>
    <h1>Login</h1>
    <form method="post"><br>
    <label for="">Username:</label><br>
    <input type="text" name="username"><br>
    <label for="">Password:</label><br>
    <input type="Password" name="password"><br>
    <button>login</button>
    </form>
<body></center>
</body>
</html>